/*font-family: 'Uni Neue';*/
/*font-family: 'Uni Neue Book';*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Uni Neue', sans-serif;
}

.header {
    height: 800px;
    background-color: #eef9ff;
    position: relative;
}

.header-row {
    display: flex;
}

.nav {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.container {
    width: 1260px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__title {
    position: relative;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    color: #363636;
    padding-right: 27px;
}

.logo__title:after {
    position: absolute;
    right: 0;
    top: 1px;
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #dddddd;
}

.logo__slogan {
    font-size: 12px;
    line-height: 1.17;
    padding-left: 27px;
    font-family: 'Uni Neue Book', sans-serif;
    width: 160px;
}

.top-nav__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 1;
    /* identical to box height */
    color: #363636;
    text-decoration: none;
    margin-right: 44px;
    transition: color 0.2s ease-in;
}

.top-nav__link:hover {
    color: #69b0ac;
}

.top-nav__link:last-child {
    margin-right: 0;
}

/*header content*/

.header__content {
    width: 645px;
    flex-shrink: 0;
}

.header__title {
    font-family: 'Uni Neue Book', sans-serif;
    font-weight: 400;
    font-size: 82px;
    line-height: 1.1;
    /* or 110% */
    color: #363636;
    margin-bottom: 27px;
}

.header__title span {
    font-family: 'Uni Neue', sans-serif;
    color: #69b0ac;
}

.header__text {
    width: 440px;
    margin-bottom: 40px;
}

.header__text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #7c7c7c;
}

.header-list {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #363636;
    list-style-type: none;
    /*list-style-image: url('./../img/list.bullet.svg');*/
    margin: 0;
    padding: 0;
}

.header-list b {
    /*font-weight: bold;*/
}

.header-list__item {
    margin-bottom: 17px;
    position: relative;
    padding-left: 40px;
}

.header-list__item::before {
    content: '';
    width: 20px;
    height: 23px;
    position: absolute;
    left: -1px;
    top: 3px;
    background-image: url('./../img/list.bullet.svg');
}

.header__img-wrapper {
    width: 1260px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform : translate(-50%, 0);
}

.header__img {
    position: absolute;
    bottom: 0;
    right: -86px;
}

.header__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 47px );

}

.header__arrow-img {
    width: 140px;
}

.section-about {
    padding-top: 133px;
    padding-bottom: 123px;
    background: linear-gradient(180deg, #FFFFFF 49.96%, #EFF9FF 100%);
}

.section-about__heading {
    max-width: 855px;
    margin: 0 auto 61px;
    font-family: 'Uni Neue Book', sans-serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
    color: #363636;
}

.section-about__heading span {
    color: #69b0ac;
}

.promo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 625px;
    height: 420px;
    border: solid 10px #ffffff;
    border-radius: 40px;
    overflow: hidden;
    background: radial-gradient(25.3% 57.25% at 50% 50%, rgba(80, 152, 190, 0.5) 0%, rgba(52, 113, 146, 0.76) 100%), url("./../img/photo.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 80px 100px rgba(211, 226, 235, 0.8);

}

.promo-video__play-button {
    position: relative;
    width: 80px;
    height: 84px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.promo-video__play-button:before {
    position: absolute;
    content: "";
    width: 116px;
    height: 116px;
    background: rgba(162, 173, 255, 0.2);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: circle 1s ease-out infinite;

}

.promo-video__play-button:after {
    position: absolute;
    content: "";
    width: 174px;
    height: 174px;
    border: 1px solid rgba(162, 173, 255, 0.3);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: wave 1s ease-out infinite;
}

@keyframes circle {
    from {
        width: 116px;
        height: 116px;
    }
    to {
        width: 216px;
        height: 216px;
        opacity: 0;
    }
}

@keyframes wave {
    from {
        width: 174px;
        height: 174px;
    }
    to {
        width: 274px;
        height: 274px;
        opacity: 0;
    }
}

.section-about__text {
    width: 560px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #545454;
}

.section-about__text strong {
    font-weight: bold;
}

.section-about__text p {
    margin-top: 0;
    margin-bottom: 18px;
}

.section-about__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 89px;
}

.numbers-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.number-bullets {
    width: 96px;
    height: 100px;
    display: flex;
    align-items: center;
    /*background-image: url("./../img/numbers-dots.svg");*/

}

.number__value {
    font-weight: 500;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 30px;
    background: rgb(167,215,241);
    background: linear-gradient(145deg, rgba(167,215,241,1) 0%, rgba(139,196,226,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.number__description {
    display: flex;
}

.number__description-bold {
    margin-right: 19px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    color: #363636;

}

.number__description-text {
    padding-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    color: #545454;
}